body {
  background-color: rgb(12, 12, 12);
  color: rgb(226, 226, 226);
}

header {
  p {
    font-size: 0.9em;
  }
}

main {
  margin-top: 25px;

  div {
    margin: 5px;
    border-radius: 5px;
    color: white;

    img {
      max-width: 30px;
    }

    button {
      max-height: 30px;
      width: 100%;
      margin-bottom: 10px;
      padding: 0 !important;
      color: rgb(253, 253, 253) !important;
      border: 1px solid white !important;
      &:hover {
        background-color: rgb(104, 200, 255) !important;
        color: rgb(0, 0, 0) !important;
      }
    }

    p {
      margin: 0;
    }
  }
  .seaweed, .herbs {
    background-color: rgb(218, 0, 0);
    padding: 5px;
  }
}

footer {
  margin-top: 30px;
  font-size: 0.8em;

  .fa-heart {
    color: red;
  }
  
  a.gwen {
    color: white;
  }
  a.bootstrap {
    color: #7952b3;
  }
}