body {
  background-color: rgb(12, 12, 12);
  color: rgb(226, 226, 226);
}

header {
  p {
    font-size: 0.9em;
  }
}

main {
  margin-top: 25px;

  #hoverLabelP {
    color: white;
  }

  div {
    margin: 5px;
    border-radius: 5px;
    color: black;

    img {
      max-width: 30px;
    }

    p {
      margin: 0;
    }
  }
  .seaweed, .herbs, .birds, .trees, .fruitTrees {
    background-color: rgb(255,0,0);
    padding: 5px;
  }
  .seaweed, .herbs {
    p {
      padding-top: 4px;
    }
  }
  .trees {
    p{
      padding-top: 3px;
    }
  }

  .popoutLink {
    padding-top: 20px;
  }
}

.timers {
  button {
    max-height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 !important;
    color: rgb(51, 51, 51) !important;
    border: 1px solid white !important;
    &:hover {
      background-color: rgb(79, 250, 0) !important;
      color: rgb(0, 0, 0) !important;
    }
  }
}

footer {
  margin-top: 30px;
  font-size: 0.8em;

  .fa-heart {
    color: red;
  }
  
  a.gwen {
    color: white;
  }
  a.bootstrap {
    color: #7952b3;
  }
}

header a {
  color: rgb(196, 218, 0);
}

.checkboxes {
  color: white;
  margin-bottom: 25px;

  input {
    margin: 0 6px;
  }
  div {
    label {
      margin-bottom: 2px;
      color: rgb(223, 223, 223);
    }
  }
}